@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap')

$primary: #CED4F4
$secondary: #26A69A
$accent: #9C27B0

$dark: #181818

$positive: rgba(217, 255, 108)
$negative: #FC5130
$info: #6564DB
$warning: #F1D302

$typography-font-family: 'Montserrat', sans-serif

body
	background-color: #427d8f
